body
{
    text-align: center;
    background-color: darksalmon;
}
h1
{
    font-family: sans-serif;
    font-style: oblique;
    color: deeppink;
    
}
#length
{
    background-color: springgreen;
}